.civ-tex-btn  {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  transition: opacity 0.2s;
  background-color: transparent; 
  border: 1.5px solid #3593f7; /* Subtle outline */
  width: 100%;
  margin-top:4px
}

.civ-tex-btn:hover {
    background-color: rgba(0, 255, 42, 0.08); /* Light red tint */
}
.civ-tex-btn:active {
  background-color: rgba(0, 123, 255, 0.16);
  transform: scale(0.98);
}



/* .civ-tex-btn.btn-normal {
  background-color: #007bff;
  color: white;
}
.civ-tex-btn.civ-tex-btn.btn-normal :hover {
  opacity: 0.9;
}
.civ-tex-btn.btn-changing {
  background-color: #f76b6b;
  color: white;
}

.civ-tex-btn.btn-neutral {
  background-color: rgb(40, 167, 69);
  color: white;
}

.civ-tex-btn.btn-io {
  background-color: rgb(105, 61, 224);
  color: white;
} */