/* src/components/OutputBlock.css */
.output-block-container {
  display: flex;
  flex-direction: column;
}

.output-block, .input-block {
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.output-block h3 {
  margin: 0 0 8px 0;
  font-size: 1.1rem;
  color: #333;
}

.output-info {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 12px;
}

.output-actions .input-actions{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}





.input-text-container, .output-text-container {
    overflow-x: hidden;
    overflow-y: hidden;
}

.inputText,
.outputText {
    width: 100%;
    font-family: monospace;
    resize: vertical;
    overflow-x: hidden;
    overflow-y: auto;
    /* enable vertical scroll if content overflows */
}

.inputText {
    min-height: 5em;
}

.outputText {
    min-height: 80vh;
}