.log-panel{
    max-width: 100%;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.log-panel ul {
  list-style-type: none;
  word-wrap: break-word;
}

/* .log-panel span {
word-wrap: break-word;
} */


/* .log-panel li { */
    /* padding: 5px; */
    /* margin: 2px 0; */
    /* background-color: rgb(245, 245, 245); */
    /* cursor: pointer; */
    /* border: 1px solid #ddd; */
    /* border-radius: 4px; */
/* } */
