* {
    box-sizing: border-box;
}

.main-pane {
    width: 100%;
    height: 100%;
}

div>.grid-container {
    width: 90%
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: auto 1fr;
    width: 100%;
    gap: 10px;
    /* optional spacing */
    margin-left: 40px;
    margin-right: 40px;
}

.grid-container>div>h3 {
    text-align: center;
}

.grid-container> :nth-child(4) {
    grid-row: 2;
    min-width: 200px;

}

.grid-container> :nth-child(5) {
    grid-row: 2;
}

.grid-container> :nth-child(6) {
    grid-row: 2;
}

.app-header {
    font-family: sans-serif;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}


.input-text-container {
    overflow-x: hidden;
    overflow-y: hidden;
}

.outputText,
.inputText {
    width: 100%;
    font-family: monospace;
    resize: vertical;
    min-height: 5em;
    overflow-x: hidden;
    overflow-y: auto;
    /* enable vertical scroll if content overflows */
}

.list-container {
    max-width: 100%;
    max-height: 720px;
    overflow-y: auto;

}

.list-container li {
    padding: 8px;
    margin: 4px 0;
    background-color: #f5f5f5;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list-container li.selected {
    background-color: #e3f2fd;

}

/* .language-section{
    display: block;
} */



.gender-plural-text-container {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}

.language-section {
    display: block;
}

.lang-textarea {
    width: 600px;
    resize: vertical;
    min-height: 100px;

}

.text-entries {
    display: block;
}

.text-entries span {
    display: block;
}

textarea.text-entries {
    min-width: 300px;
}