.list-container {
    max-width: 100%;
    max-height: 75vh;
    overflow-y: auto;

}

.list-container li {
    padding: 5px;
    margin: 2px 0;
    background-color: #f5f5f5;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    word-wrap: break-word;
}

.list-container li.selected {
    background-color: #e3f2fd;

}

.query-filter{
    width: 100%;
}


.query-filter input{
    width: 100%;
    height: 2em;
}

.select-list li{
    font-size: 14px;
}